In [16]:
import pandas as pd
import csv
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine

In [6]:
acceptance_df = pd.read_csv("acceptance_rate.csv")
tuition_df = pd.read_csv("tuition.csv")
majors_df = pd.read_csv("major_fields.csv")
student_faculty_df = pd.read_csv("student_faculty_ratio.csv")
financial_aid_df = pd.read_csv("financial_aid.csv")
uniData_df = pd.read_csv("UniData.csv")

In [7]:
df1 = pd.merge(uniData_df, acceptance_df, on='UNITID')

In [8]:
df2 = pd.merge(df1, student_faculty_df, on="UNITID")

In [9]:
df3 = pd.merge(df2, tuition_df, on='UNITID')

In [10]:
df4 = pd.merge(df3, financial_aid_df, on="UNITID")

In [11]:
address_finances_df = df4.dropna(axis=0).reset_index(drop=True)
address_finances_df.isnull().any()

UNITID                 False
name                   False
address                False
city                   False
zipCode                False
stateAbbr              False
webAddr                False
lon                    False
lat                    False
acceptanceRate         False
StudentFacultyRatio    False
inStateTuition         False
outOfStateTuition      False
TotFinAidUG            False
AveAmtGrantAid         False
AveAmtStudentLoans     False
dtype: bool

In [12]:
address_finances_df.head()

,UNITID,name,address,city,zipCode,stateAbbr,webAddr,lon,lat,acceptanceRate,StudentFacultyRatio,inStateTuition,outOfStateTuition,TotFinAidUG,AveAmtGrantAid,AveAmtStudentLoans
0,100654,Alabama A & M University,4900 Meridian Street,Normal,35762,AL,www.aamu.edu/,-86.568502,34.783368,87,18.0,8130,16260,4505,7686.0,10095.0
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,35294-0110,AL,www.uab.edu,-86.799345,33.505697,58,16.0,8040,18368,11511,7267.0,7385.0
2,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,35899,AL,www.uah.edu,-86.640449,34.724557,76,17.0,8996,19766,6013,7870.0,7088.0
3,100724,Alabama State University,915 S Jackson Street,Montgomery,36104-0271,AL,www.alasu.edu,-86.295677,32.364317,46,17.0,6936,13872,4764,7751.0,9489.0
4,100751,The University of Alabama,739 University Blvd,Tuscaloosa,35487-0166,AL,www.ua.edu/,-87.545766,33.214400,53,23.0,10470,26950,31958,12753.0,6730.0

In [14]:
address_finances_df.to_csv("address_finances.csv")

In [18]:
engine = sqlalchemy.create_engine('sqlite:///university_data.sqlite', echo=False)
conn = engine.connect()
#conn.execute("CREATE TABLE if not exists address_finances ("UNITID" INTEGER, :name" TEXT, "address" TEXT", )
address_finances_df.to_sql('address_finances', con=engine, if_exists="replace")
majors_df.to_sql('majors', con=engine, if_exists='replace')

In [21]:
conn.execute("select * from address_finances").first()

(0, 100654, 'Alabama A & M University', '4900 Meridian Street', 'Normal', '35762', 'AL', 'www.aamu.edu/', -86.568502, 34.783367999999996, 87, 18.0, '8130', '16260', 4505, 7686.0, 10095.0)